.banner{
    text-align: center;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


.container ul li{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    margin :20px 0px 20px 55px; 
    border:1px solid rgb(128, 128, 128);
    border-radius: 0.75rem;
    box-sizing: border-box;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.8);
    transition: all 0.5s ease;
}

.container ul li:hover{
    opacity: 0.8;
    transition: all 0.5s ease;
    cursor: pointer;
}

.container ul li .bottom{
    width: 100%;
    height:50px;
    line-height: 50px;
    border:0.5px solid rgb(0, 0, 0);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(40,40,40,1) 0%, rgba(2,0,36,1) 100%); 
    border-color: black;
    text-align: center;
    color:white;
    font-size: 20px;
   
}

.container ul li .bottom-2line{
    width: 100%;
    height: auto;
    line-height: 50px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(40,40,40,1) 0%, rgba(2,0,36,1) 100%); 
    border-color: black;  
    text-align: center;
    color:white;
    font-size: 20px;
   
}


.team-logo{
    margin-top: 1.5rem;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.team-logo-2line{
    text-align: center;
    width: 200px;
    height: 200px;
    padding-bottom: 1rem;
}

.hawks{
    background: rgb(224,58,62);
    background: linear-gradient(312deg, rgba(224,58,62,1) 0%, rgba(38,40,42,1) 100%);

}

.celtics{
    background: rgb(0,122,51);
    background: linear-gradient(312deg, rgba(0,122,51,1) 0%, rgba(255,255,255,1) 100%);
}

.nets{
    background: rgb(0,0,0);
    background: linear-gradient(132deg, rgb(41, 41, 41) 0%, rgba(255,255,255,1) 100%);
}

.hornets{
    background: rgb(29,17,96);
    background: linear-gradient(312deg, rgba(29,17,96,1) 0%, rgba(0,120,140,1) 100%);
}

.bulls{
    background: rgb(206,17,65);
    background: linear-gradient(132deg, rgba(206,17,65,1) 0%, rgb(255, 255, 255) 100%);
}

.cavs{
    background: rgb(134,0,56);
    background: linear-gradient(312deg, rgba(134,0,56,1) 0%, rgba(253,187,48,1) 100%);
}
.mavs{
    background: rgb(0,83,140);
    background: linear-gradient(312deg, rgba(0,83,140,1) 0%, rgba(184,196,202,1) 100%);
}
.nuggets{
    background: rgb(14,34,64);
    background: linear-gradient(312deg, rgba(14,34,64,1) 0%, rgba(254,197,36,1) 100%);
}

.pistons{
    background: rgb(200,16,46);
    background: linear-gradient(312deg, rgba(200,16,46,1) 0%, rgba(29,66,186,1) 100%);
}

.warriors{
    background: rgb(29,66,138);
    background: linear-gradient(132deg, rgba(29,66,138,1) 0%, rgba(255,199,44,1) 100%);
}

.rockets{
    background: rgb(206,17,65);
    background: linear-gradient(132deg, rgba(206,17,65,1) 0%, rgba(0,0,0,1) 100%);
}

.pacers{
    background: rgb(0,45,98);
    background: linear-gradient(312deg, rgba(0,45,98,1) 00%, rgba(253,187,48,1) 100%);
}

.clippers{
    background: rgb(200,16,46);
    background: linear-gradient(312deg, rgba(200,16,46,1) 0%, rgba(29,66,138,1) 100%);
}

.lakers{
    background: rgb(85,37,131);
    background: linear-gradient(312deg, rgba(85,37,131,1) 0%, rgba(253,185,39,1) 100%); 
}

.grizzlies{
    background: rgb(93,118,169);
    background: linear-gradient(312deg, rgba(93,118,169,1) 0%, rgba(18,23,63,1) 100%);
}

.heat{
    background: rgb(152,0,46);
    background: linear-gradient(312deg, rgba(152,0,46,1) 0%, rgba(249,160,27,1) 100%);
}

.bucks{
    background: rgb(0,71,27);
    background: linear-gradient(312deg, rgba(0,71,27,1) 0%, rgba(238,225,198,1) 100%);
}

.wolves{
    background: rgb(12,35,64);
    background: linear-gradient(132deg, rgba(12,35,64,1) 0%, rgba(35,97,146,1) 100%);
}

.pelicans{
    background: rgb(12,35,64);
    background: linear-gradient(312deg, rgba(12,35,64,1) 0%, rgba(133,113,77,1) 100%);
}

.knicks{
    background: rgb(0,107,182);
    background: linear-gradient(312deg, rgba(0,107,182,1) 0%, rgba(245,132,38,1) 100%);
}

.thunder{
    background: rgb(0,122,193);
    background: linear-gradient(132deg, rgba(0,122,193,1) 0%, rgba(239,59,36,1) 100%);
}

.magic{
    background: rgb(0,119,192);
    background: linear-gradient(312deg, rgba(0,119,192,1) 00%, rgba(196,206,212,1) 100%);
}

.philly{
    background: rgb(0,107,182);
    background: linear-gradient(312deg, rgba(0,107,182,1) 0%, rgba(255,255,255,1) 50%, rgba(237,23,76,1) 100%);
}

.suns{
    background: rgb(29,17,96);
    background: linear-gradient(312deg, rgba(29,17,96,1) 0%, rgba(229,96,32,1) 100%);
}

.blazers{
    background: rgb(224,58,62);
    background: linear-gradient(312deg, rgba(224,58,62,1) 0%, rgba(0,0,0,1) 100%);
}

.kings{
    background: rgb(90,45,129);
    background: linear-gradient(312deg, rgba(90,45,129,1) 30%, rgba(99,114,122,1) 70%);
}

.spurs{
    background: rgb(196,206,212);
    background: linear-gradient(132deg, rgba(196,206,212,1) 0%, rgba(0,0,0,1) 100%);
}

.raptors{
    background: rgb(206,17,65);
    background: linear-gradient(312deg, rgba(206,17,65,1) 0%, rgba(0,0,0,1) 100%);
}

.jazz{
    background: rgb(0,43,92);
    background: linear-gradient(132deg, rgba(0,43,92,1) 0%, rgba(0,71,27,1) 80%);
}

.wizzards{
    background: rgb(0,43,92);
    background: linear-gradient(312deg, rgba(0,43,92,1) 0%, rgba(227,24,55,1) 100%);
}

@media screen and (max-width:1250px){
    .container ul li{
        width:70%; 
    }
}